.deps/
.libs/
.dirstamp
*.a
*.core
*.o
*.la
*.lo
*.log
*.trs
check-base64
check-boolean
check-date
check-datetime
check-decimal
check-double
check-duration
check-feature
check-float
check-integer
check-module
check-string
check-time
check-version
